@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", sans-serif;
	color: #000;
	font-weight: 300;
}

#logo-part {
	position: absolute;
	width: 100%;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.4);
}
.site-navbar {
	background-color: rgba(255, 255, 255, 0.4);
	margin-bottom: 0px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero .hero-container .underline{
	background-color: #fff;
	height: 1px;
	width: 40%;
	}

@media (max-width: 1024px) {
	#hero .hero-container .underline{
		width: 60%;
		}
}
@media (max-width: 768px) {
	#hero .hero-container .underline{
		width: 70%;
	  }
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/studentLife/bg.jpg") top center;
    background-size: cover;
    position: relative;
  }
  @media (min-width: 1024px) {

  }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  #hero h4 {
    color: #fff;
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
 }
/* ------------ hero ends ------------*/

#content{
	margin:auto;
	width:100%;
	max-width: 70%;
	text-align:center;
}
#content p{
	color: #000;
	font-size: 18px;
}

.more {display: none;}
.dots { color: rgb(0, 81, 255);}
.readMoreBtn {
	background-color: #ffffff; /* Green */
	border: none;
	color: rgb(0, 81, 255);
	text-align: center;
	display: inline-block;
	font-size: 0.8em;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: underline;
}


/* ----------- image carousel -------------*/

 #carouselExampleControls{
	width: 100%;
	margin: 60px 0 60px 0;
}
    
.carousel .carousel-item .image-container{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 600px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.carousel .carousel-item .image-container img{
	height: 600px;
	min-width: 70%;
	object-fit: cover;
} 
.carousel-control-prev .carousel-control-prev-icon {
	width: 40px;
	height: 40px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2b2e' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2b2e' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
@media (max-width: 1300px) {
	.carousel .carousel-item .image-container{
		width: 600px;
		height: 400px;
	}
	
	.carousel .carousel-item .image-container img{
		height: 400px;
		min-width: 70%;
		object-fit: cover;
	}  
}
@media (max-width: 768px) {
	#content{
		max-width: 80%;
	}
	#content p{
		font-size: 16px;
	}
	.carousel-control-prev .carousel-control-prev-icon {
	  position: relative;
	  left: 80%;
	  width: 30px;
	  height: 30px;
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fcfcf7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
	}
	.carousel-control-next .carousel-control-next-icon {
	  position: relative;
	  right: 80%;
	  width: 30px;
	  height: 30px;
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fcfcf7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
	}
	.carousel .carousel-item .image-container{
		width: 500px;
		height: 334px;
	}
	.carousel .carousel-item .image-container img{
		height: 334px;
		min-width: 70%;
		object-fit: cover;
	}  
  }

  @media (max-width: 550px) {
	.carousel .carousel-item .image-container{
		width: 400px;
		height: 267px;
	}
	.carousel .carousel-item .image-container img{
		height: 267px;
	}  
  }

  @media (max-width: 440px) {
	#content p{
		font-size: 15px;
	}
	.carousel .carousel-item .image-container{
		width: 350px;
		height: 233px;
	}
	.carousel .carousel-item .image-container img{
		height: 233px;
	}  
  }

  @media (max-width: 370px) {
	.carousel .carousel-item .image-container{
		width: 300px;
		height: 200px;
	}
	.carousel .carousel-item .image-container img{
		height: 200px;
	}  
  }
  @media (max-width: 320px) {
	.carousel .carousel-item .image-container{
		width: 260px;
		height: 173px;
	}
	.carousel .carousel-item .image-container img{
		height: 173px;
	}  
  }

#gymkhana {
	color:#000;
	text-align: right;
	margin-right:3%;
	margin-top: 10px ;
	margin-bottom: 2%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
}
#gymkhana a{
	color:blue;
	text-decoration:none;
}