

/* ----------------- BODY STYLING ------------------ */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.1rem;
}


/* -------------- FIRST PAGE STYLING --------------- */
.firstPage {
  height: 100vh;
  
  background-color: white;
  overflow: hidden;
  position: relative;
}
#firstPageContent {
  background: url('./Images/f1.jpeg');
  background-size: cover;
  height: 100vh;
}
#firstPageSpace {
  display: flex;
  height: 90vh;
  align-items: flex-end;
}
#firstPageText {
  background-color: rgba(255,255,255,0.8);
  padding: 1vh 5%;
  font-size: 2vh;
}
#bigText {
  font-size: 9vh;
}
#firstPageFooter {
  font-size: 1.5vw;
  position: fixed;
  z-index: 1;
  font-weight: 400;
}

/* -------------- SECOND PAGE STYLING --------------- */
.secondPage {
  display: flex;
  align-items: center;
  margin: 0px 5vw;
  min-height: 80vh;
  font-size: 2.5vh;
  position: relative;
  z-index: 2;
  background-color: white;
}
#invitationImage {
  width: 35%;
  height: auto;
}
#invitation {
  margin: 1.5vh 3vw;
}
#invitationTitle {
  font-size: 5.5vh;
  margin-bottom: 2vh;
}



@media screen and (min-width: 950px) {
  
  #firstPageText {
    font-size: 2.9vh;
  }
  #firstPageFooter {
    font-size: 1.5vw;
    left: 5vw;
  }
}

@media screen and (max-width: 1300px) {
  #firstPageFooter {
    font-size: 2.3vw;
    margin-bottom: 2vh;
  }
  
}
@media screen and (max-width: 1100px) {
  #bigText{
    font-size: 8vh;
  }

  
  #firstPageFooter {
    font-size: 2.2vw;
    left: 5vw;
    margin-bottom: 2vh;
  }
  .secondPage {
    display: block;
    padding: 5vh 0vw;
    font-size: 2.1vh;
  }
  #invitationImage {
    border-radius: 1rem;
    width: 60vw;
  }
  #invitationImage {
    margin-left: 6vw;
    border-radius: 1rem;
    width: 45vw;
    height: 30vw;
  }
  #invitation {
    margin-top: 2vh;
    margin-left: 6vw;
  }
  
}
@media screen and (max-width: 950px) {
  
  #bigText{
    font-size: 7vh;
  }
  #firstPageText{
    font-size: 2.6vh;
  }
  #firstPageFooter {
    font-size: 2.5vw;
  }
  #invitationImage {
    margin-left: 6vw;
    border-radius: 1rem;
    width: 56vw;
    height: 40vw;
  }
  
}
@media screen and (max-width: 850px) {
  #firstPageFooter {
    font-size: 2.5vw;
    left: 5vw;
  }
  #bigText{
    font-size: 6vh;
  }
  
}
@media screen and (max-width: 550px) {
  #firstPageFooter {
    font-size: 3vw;
    left: 5vw;
  }
}
@media screen and (max-width: 450px) {
  #firstPageFooter {
    font-size: 3vw;
  }
  .secondPage {
    font-size: 1.8vh;
  }
}


.contact ,#achievements{
  padding-top: 50px;
  padding-bottom: 50px;
}


.welcome, #alumni {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #8dc0ad, #3C94B7);
  background: linear-gradient(to right,  #8dc0ad, #3C94B7);
  padding-top: 50px;
  padding-bottom: 50px;
}
